<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED, Edited by Victoria Teng
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : PlainDisplay
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140309

-->


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link href="/public/css/fonts.css" rel="stylesheet" type="text/css" media="all" />

    <meta charset="UTF-8">
    <!--<link rel="stylesheet" type="text/css" href="/public/css/theme.css">-->
    <link rel="stylesheet" type="text/css" href="/public/css/main.css" media="all" />

    <link rel="SHORTCUT ICON" type="image/ico" href="/favicon.ico" />
    <title>MacroMore</title>
</head>

<body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript">
    </script>

<!--
    <script> window.jQuery = window.$ = require('jquery'); </script>

        <script src="../index.js" type="text/javascript">
        </script> -->
    {{{body}}}

</body>
<!--
<div id="copyright" class="container">
	<p>&copy; Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. Edited by Victoria Teng.</p>
</div>-->
</html>
