<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <title>MacroMore</title>
</head>
<body>
    {{{body}}}
    <script src="/socket.io/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script>
    var socket = io();

    $('#addRecipe').submit(function() {
            var name = $('#name').val();
            var author = $('#author').val();
            var servings = $('#servings').val();
            var calories = $('#calories').val();
            var protein = $('#protein').val();
            var carbs = $('#carbs').val();
            var fats = $('#fats').val();
            var ingredients = $('#ingredients').val();
            var directions = $('#directions').val();
            var reviews = $('#reviews').val();

            $('#name').val('');
            $('#author').val('');
            $('#servings').val('');
            $('#calories').val('');
            $('#protein').val('');
            $('#carbs').val('');
            $('#fats').val();
            $('#ingredients').val();
            $('#directions').val();
            $('#reviews').val();
            $.ajax({
                type: "POST",
                url: '/addRecipe',
                data: {
                    name: name,
                    author: author,
                    servings: servings,
                    calories: calories,
                    protein: protein,
                    carbs: carbs,
                    fats: fats,
                    ingredients: ingredients,
                    directions: directions,
                    reviews: reviews
                        },
                success: function(data, status){
                    console.log(data);
                }
            });
            return false;
        });

        socket.on('new recipe', function(recipe) {
            $('#recipeList').append($('<li>').text(recipe.name + ' by ' + recipe.author));
            $('#recipeList').append($('<li>').text("Servings: " + recipe.servings));
            $('#recipeList').append($('<li>').text("Calories: " + recipe.calories));
            $('#recipeList').append($('<li>').text("Protein per serving (g): " + recipe.protein));
            $('#recipeList').append($('<li>').text("Carbohydrates per serving (g): " + recipe.carbs));
            $('#recipeList').append($('<li>').text("Fats per serving (g): " + recipe.fats));
            $('#recipeList').append($('<li>').text("Ingredients: " + recipe.ingredients));
            $('#recipeList').append($('<li>').text("Directions: " + recipe.directions));
        });
    </script>

    <h1>Add New Recipe</h1>
    <article>
        <form method="POST" action="/addRecipe">
            <div class="input-field">
                <label>Recipe Name:</label> <br>
                <input type="text" name="name" size="50" placeholder="Recipe Name...">
            </div>
             <div class="input-field">
                <label>Author:</label> <br>
                <input type="text" name="author" size="50" placeholder="Author Name...">
            </div>
            <div class="input-field">
                <label>Number of Servings:</label> <br>
                <input type="text" name="servings" size="50" placeholder="Enter a number...">
            </div>
            <div class="input-field">
                <label>Calories per serving:</label> <br>
                <input type="text" name="calories" size="50" placeholder="Number of calories..">
            </div>
            <div class="input-field">
                <label>Protein per serving (g):</label> <br>
                <input type="text" name="protein" size="50" placeholder="Protein in grams..">
            </div>
            <div class="input-field">
                <label>Carbohydrates per serving (g):</label> <br>
                <input type="text" name="carbs" size="50" placeholder="Carbohydrates in grams..">
            </div>
            <div class="input-field">
                <label>Fats per serving (g):</label> <br>
                <input type="text" name="fats" size="50" placeholder="Fats in grams..">
            </div>
            <div class="input-field">
                <label>Ingredients:</label> <br>
                <textarea type="text" name="content" rows="3" placeholder="Enter Ingredients..."></textarea>
            </div>
            <div class="input-field">
                <label>Directions:</label> <br>
                <textarea type="text" name="content" rows="3" placeholder="Enter Directions"></textarea>
            </div>
            <button type="submit">Add New Recipe</button>
        </form>
    </article>

</body>
</html>
